In [ ]:
a=200
print(a)
print(type(a))
print("The type of variable having value",a," is ",type(a))

200
<class 'int'>
The type of variable having value 200  is  <class 'int'>
The type of variable having value 12.5678  is  <class 'float'>
the type of variable having value (100+5j)  is  <class 'complex'>

In [ ]:
b=12.5678
print("The type of variable having value",b," is ",type(b))

In [ ]:
num_1=2.5e4
print("the type of variable having value",num_1," is ",type(num_1))

the type of variable having value 2500000000000.0  is  <class 'float'>

In [ ]:
c=100+5j
print("the type of variable having value",c," is ",type(c))

In [14]:
num_1=2
num_2=12.5
a=float(num_1)
print(type(a))

<class 'float'>

In [16]:
num_1=2
num_2=12.5
a=int(num_2)
print(a,type(a))

12 <class 'int'>

In [19]:
my_list=[1,2,34,45]
print(my_list,type(my_list))
print(my_list[2])
my_list[2]=89
print(my_list[2])

[1, 2, 34, 45] <class 'list'>
34
89

In [24]:
my_list=[1,2,34,45,"heloo",True]
print(my_list,type(my_list))
print(my_list[2])
my_list[2]=89
print(my_list[2])

[1, 2, 34, 45, 'heloo', True] <class 'list'>
34
89

In [25]:
my_list=[1,2,34,45,"heloo",True]


print(len(my_list))

6

In [ ]:
my_list=[1,2,34,45,"heloo",True]

print(my_list[-1])
# this is negetive indexing system

True

In [1]:
my_list=[1,2,34,45,"heloo",True]

print(my_list[1:4])

[2, 34, 45]

In [ ]:
my_list=[1,2,34,45,"heloo",True]

print(my_list[:3])

[1, 2, 34]

In [ ]:
my_list=[1,2,34,45,"heloo",True]
my_list[2:3]=["dog",12.5]
print(my_list)

[1, 2, 'dog', 12.5, 45, 'heloo', True]

In [34]:
my_list=[1,2,34,45,"heloo",True]

my_list.insert(3,"hiii")
print(my_list)

[1, 2, 34, 'hiii', 45, 'heloo', True]

In [35]:
my_list=[1,2,34,45,"heloo",True]

my_list.append("hiii")
print(my_list)

[1, 2, 34, 45, 'heloo', True, 'hiii']

In [36]:
my_list=[1,2,34,45,"heloo",True]
my_list_1=[1,2,34,45,"heloo",True,345678,"hello"]

my_list.extend(my_list_1)

print(my_list,len(my_list))

[1, 2, 34, 45, 'heloo', True, 1, 2, 34, 45, 'heloo', True, 345678, 'hello'] 14

In [37]:
my_list=[1,2,34,45,"heloo",True]


my_list.pop(2)

print(my_list,len(my_list))

[1, 2, 45, 'heloo', True] 5

In [41]:
my_list=[1,2,34,45,"heloo",True]


del my_list

print(len(my_list))

NameError: name 'my_list' is not defined

In [42]:
my_list=[1,2,34,45,"heloo",True]


my_list.clear()

print(len(my_list))

0

In [43]:
my_list=["dog","apple","parrot","banana"]
my_list.sort()
print(my_list)

['apple', 'banana', 'dog', 'parrot']

In [44]:
my_list=["dog","apple","Parrot","banana"]
my_list.sort()
print(my_list)

['Parrot', 'apple', 'banana', 'dog']

In [50]:
my_list=["dog","apple","Parrot","banana"]
my_list.sort(key=str.lower)
print(my_list)

['apple', 'banana', 'dog', 'Parrot']

In [51]:
my_list=["dog","apple","Parrot","banana"]
my_list.reverse()
print(my_list)

['banana', 'Parrot', 'apple', 'dog']

In [92]:
my_list=[-10,-18,12,5,7,12,-3]
my_list_1=[8,4,-3,9,2,11]

my_list.extend(my_list_1)

print(my_list)
my_list.sort()
print(my_list)
print("median:",my_list[int(len(my_list)/2)])
print("q1:",my_list[int(len(my_list)/4)])
print("q3:",my_list[int(len(my_list)/4*3)])

[-10, -18, 12, 5, 7, 12, -3, 8, 4, -3, 9, 2, 11]
[-18, -10, -3, -3, 2, 4, 5, 7, 8, 9, 11, 12, 12]
median: 5
q1: -3
q3: 9

In [1]:
my_list=[-10,-18,12,5,7,12,-3]
my_list_1=[8,4,-3,9,2,11]

my_list.extend(my_list_1)
print(my_list)
my_list.sort()


position_of_median=int((len(my_list)+1)/2)
position_of_q1=int(position_of_median/2)
position_of_q3=int(((len(my_list)+1)/4)*3)
q1= int((my_list[position_of_q1-1]+my_list[position_of_q1])/2)
q3= (my_list[position_of_q3-1]+my_list[position_of_q3])/2

print(my_list)
print("median:",my_list[position_of_median-1])
print("q1:",q1)
print("q3:",q3)

[-10, -18, 12, 5, 7, 12, -3, 8, 4, -3, 9, 2, 11]
[-18, -10, -3, -3, 2, 4, 5, 7, 8, 9, 11, 12, 12]
median: 5
q1: -3
q3: 10.0

test

In [3]:
my_list=[1,2,3,4,4,5]
print(my_list[2:4])

[3, 4]

In [4]:
my_list=[1,2,3,4,5]
print(my_list[:3])

[1, 2, 3]

In [5]:
my_list=[1,2,3,4,5]
print(my_list[3:])

[4, 5]

In [6]:
my_list=[1,2,3,4,5]
my_list[2:3]=["dog","cat"]
print(my_list)

[1, 2, 'dog', 'cat', 4, 5]

In [7]:
my_list=[1,2,3,4,5]
my_list.insert(2,10)
print(my_list)

[1, 2, 10, 3, 4, 5]

In [ ]:
my_list=[1,2,3,4,5]
my_list.append(11)+
print(my_list)

[1, 2, 3, 4, 5, 11]

In [11]:
my_list=[1,2,3,4,5]
my_list_1=[1,2,3,4,5]
my_list.extend(my_list_1)
print(my_list)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
my_list=[1,2,3,4,5]
my_list.pop(1)
print(my_list)

[1, 3, 4, 5]

In [13]:
my_list=[1,2,3,4,5]
del my_list[2]
print(my_list)

[1, 2, 4, 5]

In [2]:
my_list=[1,2,3,4,5]
my_list.clear()
print(my_list)

[]

In [19]:
my_list=["dog","apple","Parrot","banana"]
my_list.reverse()
print(my_list)

['banana', 'Parrot', 'apple', 'dog']

In [37]:
my_list=[-10,-18,12,5,7,12,-3]
my_list_1=[8,4,-3,9,2,11]
# find the median q1,q3
my_list.extend(my_list_1)
print(my_list)

my_list.sort()
print(my_list)

median_position=int((len(my_list)+1)/2)
print(median_position)
median=my_list[median_position-1]
print("median :",median)

q1_position=int((len(my_list)+1)/4)
print(q1_position)
q1=int(my_list[q1_position-1]+my_list[q1_position])/2
print("Q1:",q1)

q3_position=int(((len(my_list)+1)/4)*3)
print(q3_position)
q3=int(my_list[q3_position-1]+my_list[q3_position])/2
print("Q3:",q3)

[-10, -18, 12, 5, 7, 12, -3, 8, 4, -3, 9, 2, 11]
[-18, -10, -3, -3, 2, 4, 5, 7, 8, 9, 11, 12, 12]
7
median : 5
3
Q1: -3.0
10
Q3: 10.0