In [3]:
#create dateFame with pandas
import pandas as pd

data = {
    "Name":['chathura','Bob','David'],
    "Age" : [23,12,30]
}

df = pd.DataFrame(data)
print(df)
print(type(df))

# get selected data from df by location df.loc[rowIndex, column name]
print(df.loc[1,"Name"])

# get selected data from df by location df.iloc[rowIndex, column index]
print(df.iloc[2,0])

# get selected row data from df by location df.loc[rowIndex]
print(df.loc[1])
# get two rows data we can use this to get multiple rows
print(df.loc[[0,1]])

       Name  Age
0  chathura   23
1       Bob   12
2     David   30
<class 'pandas.core.frame.DataFrame'>
Bob
David
Name    Bob
Age      12
Name: 1, dtype: object
       Name  Age
0  chathura   23
1       Bob   12

In [4]:
#change row index in dataframe
import pandas as pd

data = {
    "Calories" : [420,380,390],
    "Duration" : [50,40,45]
}

df = pd.DataFrame(data,index=["day1","day2","day3"])
# print(df)
#============================================row Access==========
# print(df.loc["day1"])
# print(df.loc[["day1","day2"]])
# print(df.loc["day1","Calories"])

#============================================column Access==========
print(df["Calories"])
print(df)

day1    420
day2    380
day3    390
Name: Calories, dtype: int64
      Calories  Duration
day1       420        50
day2       380        40
day3       390        45

In [5]:
#attributs in panda dataframe
import pandas as pd

data = {
    "Name":['chathura','Bob','David'],
    "Age" : [23,12,30]
}

df = pd.DataFrame(data)
print(df)
#shape
# print(df.shape)

# column
# print(df.columns)              # Index(['Name', 'Age'], dtype='object')
# print(list(df.columns))         # ['Name', 'Age']

#size
# print(df.size)        #6

#value
df_1 = pd.DataFrame({'A': [1,2], 'B' : [3,4]})
print(df_1.values)

       Name  Age
0  chathura   23
1       Bob   12
2     David   30
(3, 2)
[[1 3]
 [2 4]]

In [ ]:
#function in panda dataFarame
import pandas as pd
df_1 = pd.DataFrame({'A': [1,2], 'B' : [3,4]})
#========len()=========
print(len(df_1))

#========mean()========
print("mean is : ",df_1.mean())

#=======sum()=====
print("sum is : ",df_1.sum())

#=====describe()=====
print(df_1.describe())

#-------------------------------------filtering data in dataFrames---------------------------------------------
data1 = {
    'Name' : ['Alice','Bob','Charlie','David'],
    'Age' : [24,27,22,32],
    'Score' : [85,70,90,88]
}

df = pd.DataFrame(data1)
filterd_df = df[df['Age']>25]
print(filterd_df)

2
mean is :  A    1.5
B    3.5
dtype: float64
sum is :  A    3
B    7
dtype: int64
              A         B
count  2.000000  2.000000
mean   1.500000  3.500000
std    0.707107  0.707107
min    1.000000  3.000000
25%    1.250000  3.250000
50%    1.500000  3.500000
75%    1.750000  3.750000
max    2.000000  4.000000
    Name  Age  Score
1    Bob   27     70
3  David   32     88

In [53]:
import pandas as pd

data = {
    "Order ID" : [101,102,103,104,105],
    "Product" : ["laptop","smart phone","desk chair","monitor","book shelf"],
    "Category" : ["electronic","electronic","furniture","electronic","furniture"],
    "Quintity" : [2,5,10,4,2],
    "Price unit" : [1000,800,150,200,300],
    "Region" : ["North","South","East","West","North"]
}

df = pd.DataFrame(data)
# print(df)

df["Total Revinue"] =(df["Quintity"]) * (df["Price unit"])
print(df)

best_revenue_pro = df[(df['Total Revinue'].max()) == (df['Total Revinue'])]
print(best_revenue_pro)

   Order ID      Product    Category  Quintity  Price unit Region  \
0       101       laptop  electronic         2        1000  North
1       102  smart phone  electronic         5         800  South
2       103   desk chair   furniture        10         150   East
3       104      monitor  electronic         4         200   West
4       105   book shelf   furniture         2         300  North

   Total Revinue
0           2000
1           4000
2           1500
3            800
4            600
   Order ID      Product    Category  Quintity  Price unit Region  \
1       102  smart phone  electronic         5         800  South

   Total Revinue
1           4000

In [55]:
# Add new row to dataFarame
import pandas as pd

df = pd.DataFrame({'A': [1,2], 'B' : [3,4]})
print(df)
df.loc[len(df)] = [5,6]

print(df)

   A  B
0  1  3
1  2  4
   A  B
0  1  3
1  2  4
2  5  6